@model HRMS.Models.Employee
@{
    ViewData["Title"] = "Edit Employee";
}

<h2>Edit Employee</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-md-6 mb-2">
            <label>First Name</label>
            <input asp-for="First_Name" class="form-control" />
        </div>

        <div class="col-md-6 mb-2">
            <label>Last Name</label>
            <input asp-for="Last_Name" class="form-control" />
        </div>

        <div class="col-md-6 mb-2">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="col-md-6 mb-2">
            <label>New Password</label>
            <input type="password" name="NewPassword" class="form-control" />
        </div>
    </div>

    <button class="btn btn-warning mt-3">Update</button>
    <a asp-action="Employees" class="btn btn-secondary mt-3">Back</a>
</form>
