@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>

<form method="post">
    <input type="hidden" name="id" value="@ViewBag.EmployeeId" />

    <div class="mb-3">
        <label>New Password</label>
        <input type="password" name="NewPassword" class="form-control" required />
    </div>

    <button class="btn btn-dark">Reset</button>
    <a asp-action="Employees" class="btn btn-secondary">Back</a>
</form>
